

/* width */
::-webkit-scrollbar {

  width: 5px;
  height: 5px;
  
  z-index: 9999; /* Ensure scrollbar is on top of everything */
}

/* Track */
::-webkit-scrollbar-track {
  border-top-left-radius: 10px;
  background: var(--read-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-top-left-radius: 10px;
  background: var(--hover-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-color);
}
