:root {
    --main-color: #2f2c36;
    --nav-color: #3e3a47;
    --hover-color: #474252;
    --read-color: #f0f0f0;
    --icon-color: #f1e5ff;
    --footer-color: rgb(255, 212, 212);
    --radius-panel: 15px;
    --default-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    --main-shadow: 0 -4px 5px rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--nav-color) 50%, var(--main-color) 50%);
}

main {
    flex: 1;
    margin-top: 10px;
    padding: 20px;
    background-color: var(--main-color);
    color: var(--read-color);
    box-shadow: var(--default-shadow);
    border-top-left-radius: var(--radius-panel);
    overflow: auto;
}

aside {
    width: 70px;
    padding: 10px;
    background-color: var(--nav-color);
    color: var(--read-color);
}

aside nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.icon-container {
    font-size: 30px;
    margin-bottom: 15px;
}

.fa-solid {
    font-size: 24px;
}

aside a, footer a {
    color: var(--icon-color);
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: var(--nav-color);
    border-top-left-radius: var(--radius-panel);
    color: var(--read-color);
}

footer .icon-container {
    display: inline-block;
    font-size: 24px;
    margin: 0;
}

footer a {
    color: var(--footer-color);
}

footer .icon-container i {
    padding: 5px;
}

.main-nav {
    position: sticky;
    top: -20px;
    z-index: 1;
}

.top-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.top-btn button {
    width: 200px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--read-color);
    background-color: var(--nav-color);
    border: none;
    border-radius: 30px;
    box-shadow: var(--default-shadow);
    cursor: pointer;
}

.top-btn button:hover {
    background-color: var(--hover-color);
}

.logo-container {
    display: none;
}

.logo-container img {
    width: 80px;
    border-radius: 30px;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.main-content .post img {
    min-width: 250px;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: var(--default-shadow);
    background-color: #8868d1;
    transition: opacity 200ms;
    cursor: zoom-in;
}

.main-content .post img:hover {
    opacity: 70%;
}

.mobile, #search-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .default {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    main {
        border-top-right-radius: var(--radius-panel);
        box-shadow: var(--main-shadow);
    }

    aside {
        width: 100%;
    }

    aside nav {
        flex-direction: row;
        align-items: center;
    }

    .nav-top, .nav-bottom {
        display: flex;
        width: 30vw;
        justify-content: space-evenly;
        text-align: center;
        margin: 10px 0;
    }

    .nav-bottom .icon-container {
        float: right;
    }

    footer {
        position: relative;
        border-top-right-radius: var(--radius-panel);
    }

    footer .mobile {
        display: flex;
        justify-content: space-evenly;
    }

    .top-btn button {
        width: 130px;
    }

    #home, #search-default {
        display: none;
    }

    #search-mobile {
        display: flex;
    }

    .icon-container, .search-container {
        position: relative;
    }

    #search-box {
        padding-left: 50px;
    }

    .search-container input {
        width: 60vw;
        height: 50px;
        padding: 10px;
        border-radius: 50px;
        background-color: #2f2c36;
        border: none;
        color: var(--read-color);
    }

    .fa-magnifying-glass {
        position: absolute;
        top: 52%;
        left: 0;
        padding: 15px;
        font-size: 20px;
        transform: translateY(-50%);
    }

    .main-content .post img {
        width: 80vw;
    }
}
